* {
    list-style-type: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
}


body {
    background-image:url("images/krystal-ng-PrQqQVPzmlw-unsplash.jpg");
    background-size: contain;
    background-repeat: repeat;
    
}

li {
    font-size: 30px;
    font-weight: bolder;
}

.jumbotron-fluid {
    background-color: rgb(179, 22, 22);
    
    background-image: url("https://media.giphy.com/media/OPtp47fgYK8oa3TiyZ/giphy.gif"); 
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border: rgb(black 5px solid); 
}


img {
    height: 300px;
    width: 200px; 
    margin: 7px;
    border: dashed rgb(182, 65, 123)  5px; 
    border-radius: 50%;
    transition-duration: 2s;
    transition-delay: 2s;
    transition-property: transform filter;
}

img:hover {
    transform: translateY(40px);
    filter: blur(3px);
}

.footer {
    width: 50px;
    height: 50px;
    border: none;
}